@import "variables";
#accomodation {
  padding-left: 20px;
  margin-top: 20px;
  .rooms {
    width: 100%;
    .room {
      position: relative;
      height: 300px;
      &.triple {
        height: 298px;
        width: 410px;
      }
      &.double {
        height: 540px;
        width: 410px;
      }
      &.single {
        height: 252px;
        width: 410px;
      }
      .room-description {
        display: none;
        width: 40%;
      }
      &:hover {
        height: 800px;
        width: 100%;
        max-width: 1300px;
        .room-description {
          display: block;
        }
      }
      &.expanded {
        height: auto;
        width: 100%;
        z-index: 5;
        background-color: rgba(0,0,0,0.8);
        .room-overlay {
          z-index: 2;
          .room-description {
            display: none;
          }
          .gallery {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            right: 0 !important;
            width: 80% !important;
            bottom: 20px !important;
            top: auto;
            .polaroid
            {
              opacity: 0;
              &.expanded {
                opacity: 1;
              }
            }
          }
          &>img {
            display: none !important;
          }
        }
      }
    }
    .room-overlay {
      transform-origin: center center;
      display: flex;
      flex-direction: row;
      padding: 30px;
      padding-right: 260px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      .book {
        position: absolute;
        display: none;
        left: 478px;
        top: 60px;
        background: #000;
        color: #fff;
        border: none;
        padding: 12px 40px;
        height: 55px;
        font-family: La Belle Aurore,cursive;
        font-size: 20px;
        outline: none;
        cursor: pointer;
        &:disabled {
          opacity: 0.4;
        }
        &:hover {
          box-shadow: 1px 1px 7px;
          opacity: 0.8;
        }
      }
      .gallery {
        position: absolute;
        right: 30px;
        height: 500px;
        display: none;
        top: 100px;
        @media screen and (max-width: 1200px) {
          width: 300px;
        }
      }
      &>img{
        position: absolute;
        &.single {
          left: 170px;
          top: 5px;
          height: 67px;
          &.full {
            opacity: 1;
            left: 0;
            top: 0;
            height: 252px;
          }
        }
        &.double {
          left: 0;
          top: 0;
          height: 182px;
          &.full {
            opacity: 1;
            height: 540px;
            top: 0;
            left: 0;
          }
        }
        &.triple {
          height: 298px;
          top: 0;
          left: 0;
          &.full {
            opacity: 1;
          }
        }
      }
      &:hover {
        transition: all 0.5s ease-in-out;
        top: -10px;
        left: -10px;
        bottom: -10px;
        right: -10px;
        z-index: 2;
        .book {
          display: block;
        }
        .gallery {
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-end;
        }
        &>img {
          transition: all 0.8s ease-in-out;
          &.full {
            transition: all 0.1s ease-in-out;
          }
          height: 200px;
          top:150px;
          &.single {
            height: 100px;
            display: block;
            left: 450px;
            top: 160px;
            &.full {
              opacity: 0;
              transform: none;
              left: 0;
              top: 0;
              height: 295px;
            }
          }
          &.double {
            height: 150px;
            display: block;
            left: 450px;
            &.full {
              display: none;
              transform: none;
              height: 633px;
              top: 0;
              left: 0;
            }
          }
          &.triple {
            height: 270px;
            display: block;
            left: 450px;
            top: 135px;
            &.full {
              opacity: 0;
              transform: none;
              height: 350px;
              top: 0;
              left: 0;
            }
          }
        }
      }
      .room-description {
        width: 450px;
        h2 {
          font-size: 1em;
        }
        .size {
          font-size: 0.66em;
        }
        .ammenities {
          font-size: 0.583em;
          margin: 0;
        }
      }
    }
  }
}
