@import "variables";
#location {
  padding-left: 10px;
  padding-top: 10px;
  max-width: $max-content-width;
  .text {
    padding-right: 20px;
    padding-left: 20px;
    max-width: 700px;
  }
  p {
    font-size: 0.66em;
    line-height: 1.625;
  }
  .maps {
      .map {
        height: calc(100vh - 80px);
      }
  }
}
