#polaroid-gallery {
  position: absolute;
  right: 0;
  width: 30vw;
  padding-top: 72px;
  padding-left: 5vw;
  top: 0;
  bottom: 0;
  z-index: 1;
  transform-origin: top right;
  &.gallery{
    z-index: 6;
    .polaroid {
      opacity: 0.2;
      &.expanded {
        opacity: 1;
        .close {
          display: block;
        }
      }
    }
  }
  .polaroid {
    padding: 5px;
    padding-bottom: 0;
    box-shadow: rgba(68, 61, 61, 0.5) 1px 1px 9px;
    -webkit-backface-visibility: hidden;
    background: white;
    position: relative;
    .close {
      display: none;
      position: absolute;
      top: -14px;
      right: -13px;
      background-color: #fff;
      height: 40px;
      width: 40px;
      border-radius: 40px;
      font-size: 17px;
      box-shadow: 1px 1px 7px;
      text-align: center;
      line-height: 47px;
      cursor: pointer;
    }
    &:hover {
      box-shadow: rgba(68, 61, 61, 0.5) 3px 3px 30px;
      cursor: pointer;
    }
    .image {
      margin-bottom: 20px;
      height: calc(100% - 40px);
      width: calc(100%);
      background-size: cover;
      background-repeat: no-repeat;
    }
    &.expanded {
      position: fixed;
      z-index: 6;
    }
    .description {
      font-size: 22px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: center;
      position: relative;
      top: -18px;
    }
  }
}

#double-polaroid-gallery, #single-polaroid-gallery, #triple-polaroid-gallery {
  position: absolute;
  right: 0;
  width: calc(35vw - 20px);
  padding-top: 0;
  top: 0;
  z-index: 1;
  transform-origin: top right;
  &.gallery{
    z-index: 6;
    width: 35vw;
  }
  .polaroid {
    padding: 3px;
    padding-bottom: 0;
    box-shadow: rgba(68, 61, 61, 0.5) 1px 1px 9px;
    -webkit-backface-visibility: hidden;
    background: white;
    position: relative;
    &:hover {
      box-shadow: rgba(68, 61, 61, 0.5) 3px 3px 30px;
      cursor: pointer;
    }
    .close {
      display: none;
      position: absolute;
      top: -14px;
      right: -13px;
      background-color: #fff;
      height: 40px;
      width: 40px;
      border-radius: 40px;
      font-size: 17px;
      box-shadow: 1px 1px 7px;
      text-align: center;
      line-height: 47px;
      cursor: pointer;
    }

    .image {
      margin-bottom: 10px;
      height: calc(100% - 10px);
      width: calc(100%);
      background-size: cover;
      background-repeat: no-repeat;
    }
    &.expanded {
      position: fixed;
      z-index: 6;
      .close {
        display: block;
      }
    }
    .description {
      font-size: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: center;
    }
  }
}
